<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Panel</title>
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>

<body>
<div class="container-fluid m-0">
    <div class="row align-middle block-height ">
        <div class="col d-flex align-items-center div-text" >
           <span th:text="${loggedUser.name}" class="span-roles"></span> &nbsp; with roles: &nbsp;
            <span th:each="auth, status : ${loggedUser.authorities}">
                <span th:text="${#strings.substringAfter(auth, '_')}" class="span-roles"></span>
                <span th:unless="${status.last}">&nbsp;</span>
            </span>
        </div>
        <div class="col text-center d-flex align-items-center">
        </div>
        <div class="col d-flex align-items-center text-end">
            <div class="ms-auto"><a href="/logout" class="logout-link">Logout</a></div>
        </div>
    </div>
</div>

<div class="container-fluid m-0">
    <div class="row align-middle block-content-height">
        <div class="col-2 ">
            <div class="ul-roles-list">
                <ul class="list-unstyled">
                    <li th:each="auth : ${loggedUser.authorities}" class="li-left-col"
                        th:class="${#strings.toLowerCase(#strings.substringAfter(auth, '_')) == 'admin' ? 'active' : 'none'}">
                        <a class="li-a-left-col" th:href="@{'/' + ${#strings.toLowerCase(#strings.substringAfter(auth, '_'))}}"
                           th:text="${#strings.substringAfter(auth, '_')}"></a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-10 ">
            <div class="admin-panel-text">Admin Panel</div>
            <div class="users-ul black-div-text">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab1" data-bs-toggle="tab" href="#content1">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab2" data-bs-toggle="tab" href="#content2">Add new User</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active overflow-auto admin-table-block" id="content1" >
                    <div class="user-panel-text"> All users</div>
                    <div class="table-responsive user-table-div">
                        <table class="table table-hover" id="userTable">
                            <thead class="black-div-text">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Sex</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Status</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>

                            </tr>
                            </thead>
                            <tbody class="black-div-text">

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade overflow-auto" id="content2" >
                    <form class="needs-validation" novalidate th:method="post" th:action="@{/admin}" th:object="${newUser}">
                        <div class="div-add-user">
                            <div class="form-floating mb-3">

                                <input type="text" class="form-control" id="userNameA" placeholder="First Name"
                                       th:field="*{firstName}"
                                       required minlength="2" maxlength="30" pattern="[^0-9]*">
                                <div class="invalid-feedback">
                                    The 'Name' should be between 2 and 30 characters long and should not contain numbers.
                                </div>
                                <label for="userNameA">First Name</label>

                            </div>
                            <div class="form-floating mb-3">

                                <input type="text" class="form-control" id="userSurnameA" placeholder="Last Name"
                                       th:field="*{lastName}"
                                       required minlength="2" maxlength="30" pattern="[^0-9]*">
                                <div class="invalid-feedback">
                                    The 'Last Name' should be between 2 and 30 characters long and should not contain numbers.
                                </div>
                                <label for="userSurnameA">Last Name</label>

                            </div>
                            <div class="form-floating mb-3">

                                <input type="email" class="form-control" id="emailA" placeholder="Email"
                                       th:field="*{email}" required  pattern="\S+" minlength="5" maxlength="30">
                                <div class="invalid-feedback">
                                    The 'Email' should be between 5 and 30 characters long and should not contain spaces.
                                </div>
                                <label for="emailA">Email</label>

                            </div>
                            <div class="form-floating mb-3">

                                <input type="password" class="form-control" id="PasswordA" placeholder="Password"
                                       th:field="*{pass}" required  pattern="\S+" minlength="4" maxlength="20">
                                <div class="invalid-feedback">
                                    The 'Password' should be between 4 and 20 characters long and should not contain spaces.
                                </div>
                                <label for="PasswordA">Password</label>

                            </div>
                            <div class="form-floating mb-3">

                                <input type="number" class="form-control" id="userAgeA" placeholder="Age"
                                       th:field="*{age}" required min="0" max="200">
                                <div class="invalid-feedback">
                                    The 'Age' should be between 0 and 200.
                                </div>
                                <label for="userAgeA">Age</label>

                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="SexA" aria-label="Sex" th:field="*{gender}" required>
                                    <option value="" disabled selected hidden>Choose User's gender</option>
                                    <option th:value="F" value="F">Female</option>
                                    <option th:value="M" value="F">Male</option>

                                </select>
                                <label for="SexA">Sex</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="StatusA" aria-label="Status" th:field="*{status}" required>
                                    <option value="" disabled selected hidden>Choose User's Status</option>
                                    <option th:value="ACTIVE" value="BANNED">ACTIVE</option>
                                    <option th:value="BANNED" value="ACTIVE">BANNED</option>

                                </select>
                                    <label for="StatusA">Status</label>
                            </div>

                            <div class="form-floating mb-3">
                                    <select class=" form-select role-custom" id="userRoleA" multiple th:field="*{role}" required>
                                        <th:block th:each="role :${allRoles}">
                                            <option th:text="${role.name}" th:value="${role.id}" ></option>
                                        </th:block>
                                    </select>
                                    <label for="userRoleA" hidden="hidden">User roles</label>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-outline-primary">Add user</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>


            <form id="editUserForm" class="needs-validation" novalidate>
                <div class="modal-body">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="editUserId" placeholder="userID" disabled name="editUserId">
                        <label for="editUserId">ID</label>
                    </div>
                    <div class="form-floating mb-3">

                        <input type="text" class="form-control" id="editUserFirstName" placeholder="userName"
                               required minlength="2" maxlength="30" pattern="[^0-9]*" name="editUserFirstName">
                        <div class="invalid-feedback">
                            The 'Name' should be between 2 and 30 characters long and should not contain numbers.
                        </div>
                        <label for="editUserFirstName">First Name</label>

                    </div>
                    <div class="form-floating mb-3">

                        <input type="text" class="form-control" id="editUserLastName" placeholder="userSurname"
                               required minlength="2" maxlength="30" pattern="[^0-9]*" name="editUserLastName">
                        <div class="invalid-feedback">
                            The 'Last Name' should be between 2 and 30 characters long and should not contain numbers.
                        </div>
                        <label for="editUserLastName">Last Name</label>

                    </div>
                    <div class="form-floating mb-3">

                        <input type="email" class="form-control" id="editUserEmail" placeholder="name@mail.com"
                               required  pattern="\S+" minlength="5" maxlength="30" name="editUserEmail">
                        <div class="invalid-feedback">
                            The 'Email' should be between 5 and 30 characters long and should not contain spaces.
                        </div>
                        <label for="editUserEmail">Email</label>

                    </div>
                    <div class="form-floating mb-3">

                        <input type="password" class="form-control" id="editUserPass" placeholder="password"
                               required  pattern="\S+" minlength="4" maxlength="20" name="editUserPass">
                        <div class="invalid-feedback">
                            The 'Password' should be between 4 and 20 characters long and should not contain spaces.
                        </div>
                        <label for="editUserPass">Password</label>

                    </div>

                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="editUserAge" placeholder="userAge"
                               required min="0" max="200" name="editUserAge">
                        <div class="invalid-feedback">
                            The 'Age' should be between 0 and 200.
                        </div>
                        <label for="editUserAge">Age</label>
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" id="editUserGender" aria-label="Sex" required name="editUserGender">
                            <option value="F">Female</option>
                            <option value="M">Male</option>
                        </select>
                        <label for="editUserGender">Sex</label>
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" id="editUserStatus" aria-label="Status" required name="editUserStatus">
                            <option value="ACTIVE">ACTIVE</option>
                            <option value="BANNED">BANNED</option>
                        </select>
                        <label for="editUserStatus">Status</label>
                    </div>

                    <div class="form-floating mb-3" >
                        <select class=" form-select" id="editUserRole" multiple required name="editUserRole">
                            <option value="ROLE_USER">USER</option>
                            <option value="ROLE_ADMIN">ADMIN</option>
                        </select>
                        <label for="editUserRole" hidden="hidden">User roles</label>
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-success" id="confirmEditButton">Edit user</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>


            <form>

                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="deleteUserId" placeholder="userID" disabled >
                        <label for="deleteUserId">ID</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="deleteUserFirstName" placeholder="userName" disabled >
                        <label for="deleteUserFirstName">First Name</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="deleteUserLastName" placeholder="userSurname" disabled >
                        <label for="deleteUserLastName">Last Name</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="deleteUserEmail" placeholder="name@mail.com" disabled >
                        <label for="deleteUserEmail">Email</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="deleteUserPass" placeholder="userPass" disabled >
                        <label for="deleteUserPass">Password</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="deleteUserAge" placeholder="userAge" disabled >
                        <label for="deleteUserAge">Age</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="deleteUserGender" placeholder="userGender" disabled >
                        <label for="deleteUserGender">Gender</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="deleteUserStatus" placeholder="userStatus" disabled >
                        <label for="deleteUserStatus">Status</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="deleteUserRole" placeholder="userRoles" disabled >
                        <label for="deleteUserRole">Role</label>
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-danger" id="confirmDeleteButton" data-bs-dismiss="modal">Delete user</button>
                </div>
            </form>

        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous">

</script>


<script>




    //Скрипт включающий валидацию бустрапа

    window.addEventListener('load', function () {
        // Получаем все формы, для которых мы хотим применить пользовательскую валидацию Bootstrap
        var forms = document.getElementsByClassName('needs-validation');

        // Перебираем их и предотвращаем отправку
        Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }

                form.classList.add('was-validated'); // добавляем класс для показа валидационных сообщений
            }, false);
        });
    }, false);


    // Функция для создания строки таблицы
    function createTableRow(userData) {
        const tr = document.createElement('tr');

        // Устанавливаем атрибут data-user-id для строки
        tr.setAttribute('data-user-id', userData.id);

        // Колонка id
        const tdID = document.createElement('td');
        tdID.textContent = userData.id;
        tr.appendChild(tdID);

        // Колонка firstName
        const tdFirstName = document.createElement('td');
        tdFirstName.textContent = userData.firstName;
        tr.appendChild(tdFirstName);

        // Колонка lastName
        const tdLastName = document.createElement('td');
        tdLastName.textContent = userData.lastName;
        tr.appendChild(tdLastName);

        // Колонка age
        const tdAge = document.createElement('td');
        tdAge.textContent = userData.age;
        tr.appendChild(tdAge);

        // Колонка Gender
        const tdGender = document.createElement('td');
        tdGender.textContent = userData.gender;
        tr.appendChild(tdGender);

        // Колонка email
        const tdEmail = document.createElement('td');
        tdEmail.textContent = userData.email;
        tr.appendChild(tdEmail);

        // Колонка Roles
        const tdRoles = document.createElement('td');
        // Удаление префикса "ROLE_" и соединение ролей через запятую
        tdRoles.textContent = userData.role.map(role => role.name.replace('ROLE_', '')).join(', ');
        tr.appendChild(tdRoles);

        // Колонка Status
        const tdStatus = document.createElement('td');
        tdStatus.textContent = userData.status;
        tr.appendChild(tdStatus);


        // Колонка с кнопкой Редактировать
        const tdEdit = document.createElement('td');
        const btnEdit = document.createElement('button');
        btnEdit.textContent = 'Edit';
        btnEdit.className = 'btn btn-outline-success'; // Добавление классов Bootstrap
        btnEdit.setAttribute('data-bs-toggle', 'modal');
        btnEdit.setAttribute('data-bs-target', '#editModal');
        btnEdit.dataset.id = userData.id;
        btnEdit.dataset.firstName = userData.firstName;
        btnEdit.dataset.lastName = userData.lastName;
        btnEdit.dataset.email = userData.email;
        btnEdit.dataset.age = userData.age;
        btnEdit.dataset.gender = userData.gender;
        btnEdit.dataset.status = userData.status;

        // Обработчик события для кнопки Редактировать
        document.addEventListener('click', function (event) {
            if (event.target.matches('.btn-outline-success[data-bs-toggle="modal"]')) {
                const id = event.target.dataset.id;
                const firstName = event.target.dataset.firstName;
                const lastName = event.target.dataset.lastName;
                const email = event.target.dataset.email;
                const pass = event.target.dataset.pass;
                const age = event.target.dataset.age;
                const gender = event.target.dataset.gender;
                const role = event.target.dataset.role;
                const status = event.target.dataset.status;


                // Найдите элементы формы в модальном окне и установите их значения
                const editModal = document.getElementById('editModal');
                editModal.querySelector('#editUserId').value = id;
                editModal.querySelector('#editUserFirstName').value = firstName;
                editModal.querySelector('#editUserLastName').value = lastName;
                editModal.querySelector('#editUserEmail').value = email;
                editModal.querySelector('#editUserAge').value = age;
                editModal.querySelector('#editUserGender').value = gender;
                editModal.querySelector('#editUserStatus').value = status;
            }
        });

        tdEdit.appendChild(btnEdit);
        tr.appendChild(tdEdit);

        // Колонка с кнопкой Удаллить
        const tdDelete = document.createElement('td');
        const btnDelete = document.createElement('button');
        btnDelete.textContent = 'Delete';
        btnDelete.className = 'btn btn-outline-danger'; // Добавление классов Bootstrap
        btnDelete.setAttribute('data-bs-toggle', 'modal');
        btnDelete.setAttribute('data-bs-target', '#deleteModal');
        btnDelete.dataset.id = userData.id;
        btnDelete.dataset.firstName = userData.firstName;
        btnDelete.dataset.lastName = userData.lastName;
        btnDelete.dataset.email = userData.email;
        btnDelete.dataset.pass = userData.pass;
        btnDelete.dataset.age = userData.age;
        btnDelete.dataset.gender = userData.gender;
        btnDelete.dataset.status = userData.status;
        btnDelete.dataset.role = userData.role.map(role => role.name.replace('ROLE_', '')).join(', ');


        // Обработчик события для кнопки Удалить
        document.addEventListener('click', function (event) {
            if (event.target.matches('.btn-outline-danger[data-bs-toggle="modal"]')) {
                const id = event.target.dataset.id;
                const firstName = event.target.dataset.firstName;
                const lastName = event.target.dataset.lastName;
                const email = event.target.dataset.email;
                const pass = event.target.dataset.pass;
                const age = event.target.dataset.age;
                const gender = event.target.dataset.gender;
                const role = event.target.dataset.role;
                const status = event.target.dataset.status;


                // Найдите элементы формы в модальном окне и установите их значения
                const editModal = document.getElementById('deleteModal');
                editModal.querySelector('#deleteUserId').value = id;
                editModal.querySelector('#deleteUserFirstName').value = firstName;
                editModal.querySelector('#deleteUserLastName').value = lastName;
                editModal.querySelector('#deleteUserEmail').value = email;
                editModal.querySelector('#deleteUserPass').value = pass;
                editModal.querySelector('#deleteUserAge').value = age;
                editModal.querySelector('#deleteUserGender').value = gender;
                editModal.querySelector('#deleteUserRole').value = role;
                editModal.querySelector('#deleteUserStatus').value = status;
            }
        });
        tdDelete.appendChild(btnDelete);
        tr.appendChild(tdDelete);

        return tr;
    }

    // Функция для заполнения таблицы данными
    function populateTable(usersData) {
        const tableBody = document.getElementById('userTable').getElementsByTagName('tbody')[0];

        // Очистка текущего содержимого tbody
        tableBody.innerHTML = '';

        // Перебор массива пользователей и создание строки таблицы для каждого
        usersData.forEach(user => {
            tableBody.appendChild(createTableRow(user));
        });
    }

    // Вызов fetch для получения данных
    fetch('/api/v1/test/users', {
        credentials: 'include' // Эта опция включает отправку cookies и аутентификационных заголовков
    })

        .then(response => response.json())
        .then(data => {
            // Заполнение таблицы данными
            populateTable(data); // Здесь предполагается, что data - это массив пользователей
        })
        .catch(error => {
            console.error('Ошибка при получении данных:', error);
        });


    // Предполагается, что у вас есть кнопка с id 'confirmDeleteButton' в модальном окне
    const confirmDeleteButton = document.getElementById('confirmDeleteButton');

    confirmDeleteButton.addEventListener('click', function () {
        const deleteModal = document.getElementById('deleteModal');
        const userId = deleteModal.querySelector('#deleteUserId').value;

        fetch(`/api/v1/test/users/${userId}`, {
            method: 'DELETE',
            credentials: 'include' // Эта опция включает отправку cookies и аутентификационных заголовков
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Error: ${response.statusText}`);
                }
                return response.text();
            })
            .then(message => {
                console.log(message);
                // Удалите строку пользователя из таблицы
                const userRow = document.querySelector(`tr[data-user-id="${userId}"]`);
                if (userRow) {
                    userRow.remove();
                }
            })
            .catch(error => {
                console.error('There was an error!', error);
            });
    });

    // Функция для обновления пользователя

    document.getElementById('editUserForm').addEventListener('submit', function (event) {
        event.preventDefault(); // предотвращаем стандартную отправку формы
        if (!this.checkValidity()) {
            event.stopPropagation(); // останавливаем всплытие события
            this.classList.add('was-validated'); // добавляем класс для показа валидационных сообщений
        } else {
            // Получаем элементы формы в модальном окне
            const editModal = document.getElementById('editModal');
            const id = editModal.querySelector('#editUserId').value;
            const firstName = editModal.querySelector('#editUserFirstName').value;
            const lastName = editModal.querySelector('#editUserLastName').value;
            const email = editModal.querySelector('#editUserEmail').value;
            const pass = editModal.querySelector('#editUserPass').value;
            const age = editModal.querySelector('#editUserAge').value;
            const gender = editModal.querySelector('#editUserGender').value;
            const roles = Array.from(editModal.querySelectorAll('select[name="editUserRole"] option:checked'), option => option.value);
            const status = editModal.querySelector('#editUserStatus').value;


            // Подготавливаем объект пользователя для отправки
            const userData = {

                firstName: firstName,
                lastName: lastName,
                email: email,
                pass: pass,
                age: age,
                gender: gender,
                role: roles,
                status: status


            };


            // Отправляем запрос PUT на сервер
            fetch('/api/v1/test/users?id=' + id, { // Добавляем id пользователя как параметр запроса
                method: 'PUT',
                credentials: 'include', // Эта опция включает отправку cookies и аутентификационных заголовков
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(userData), // Преобразуем данные пользователя в JSON
            })
                .then(response => response.json())
                .then(updatedUser => {
                    // Обновляем строку в таблице данными из ответа
                    updateTableRow(updatedUser);
                    var modalInstance = bootstrap.Modal.getInstance(editModal); // Получаем экземпляр модального окна
                    modalInstance.hide(); // Закрытие модального окна
                })
                .catch(error => {
                    console.error('Ошибка при обновлении пользователя:', error);
                });

        }
        this.classList.add('was-validated'); // добавляем класс для показа валидационных сообщений
    }, false);

    const confirmEditButton = document.getElementById('confirmEditButton'); // Убедитесь, что у кнопки правильный id
    confirmEditButton.addEventListener('click', function () {
        const form = document.getElementById('editUserForm');
        form.requestSubmit(); // инициируем отправку формы
    });


    // Функция для обновления строки таблицы
    function updateTableRow(user) {
        // Ищем строку таблицы по атрибуту data-user-id
        const tr = document.querySelector(`tr[data-user-id="${user.id}"]`);
        if (tr) {
            const cells = tr.children;
            // Обновляем данные в ячейках (td), предполагая, что порядок столбцов известен
            cells[0].textContent = user.id;
            cells[1].textContent = user.firstName;
            cells[2].textContent = user.lastName;
            cells[3].textContent = user.age;
            cells[4].textContent = user.gender;
            cells[5].textContent = user.email;
            // Преобразуем массив ролей в строку и обновляем ячейку
            cells[6].textContent = user.role.map(roleEntity => roleEntity.name.replace('ROLE_', '')).join(', ');

            cells[7].textContent = user.status;


        }
    }


</script>


</body>
</html>