<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Panel</title>
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>

<body>
<div class="container-fluid m-0">
    <div class="row align-middle block-height ">
        <div class="col d-flex align-items-center div-text" >
           <span th:text="${loggedUser.name}" class="span-roles"></span> &nbsp; with roles: &nbsp;
            <span th:each="auth, status : ${loggedUser.authorities}">
                <span th:text="${#strings.substringAfter(auth, '_')}" class="span-roles"></span>
                <span th:unless="${status.last}">&nbsp;</span>
            </span>
        </div>
        <div class="col text-center d-flex align-items-center">
        </div>
        <div class="col d-flex align-items-center text-end">
            <div class="ms-auto"><a href="/logout" class="logout-link">Logout</a></div>
        </div>
    </div>
</div>

<div class="container-fluid m-0">
    <div class="row align-middle block-content-height">
        <div class="col-2 ">
            <div class="ul-roles-list">
                <ul class="list-unstyled">
                    <li th:each="auth : ${loggedUser.authorities}" class="li-left-col"
                        th:class="${#strings.toLowerCase(#strings.substringAfter(auth, '_')) == 'admin' ? 'active' : 'none'}">
                        <a class="li-a-left-col" th:href="@{'/' + ${#strings.toLowerCase(#strings.substringAfter(auth, '_'))}}"
                           th:text="${#strings.substringAfter(auth, '_')}"></a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-10 ">
            <div class="admin-panel-text">Admin Panel</div>
            <div class="users-ul black-div-text">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab1" data-bs-toggle="tab" href="#content1">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab2" data-bs-toggle="tab" href="#content2">Add new User</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active overflow-auto admin-table-block" id="content1">
                    <div class="user-panel-text"> All users</div>
                    <div class="table-responsive user-table-div">
                        <table class="table table-hover" id="userTable">
                            <thead class="black-div-text">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Sex</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Status</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>

                            </tr>
                            </thead>
                            <tbody class="black-div-text">
                            <tr th:each=" usr : ${loggedUserDetails}">

                                <td th:text="${usr.id}">id</td>
                                <td th:text="${usr.firstName}">name</td>
                                <td th:text="${usr.lastName}">surname</td>
                                <td th:text="${usr.age}">age</td>
                                <td th:text="${usr.gender}">gender</td>
                                <td th:text="${usr.email}">email</td>
                                <td>
                                    <span th:each=" roles, status : ${usr.role}">
                                    <span th:text="${#strings.substringAfter(roles.name, '_')}"></span>
                                    <span th:unless="${status.last}">&nbsp;</span>
                                    </span>
                                </td>
                                <td th:text="${usr.status}">status</td>
                                <td>
                                    <button type="button" class="btn btn-outline-success"
                                            data-bs-toggle="modal" data-bs-target="#editModal"
                                            th:data-id="${usr.id}"
                                            th:data-firstName="${usr.firstName}"
                                            th:data-lastName="${usr.lastName}"
                                            th:data-age="${usr.age}"
                                            th:data-email="${usr.email}">
                                        Edit
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-danger"
                                            data-bs-toggle="modal" data-bs-target="#deleteModal"
                                            th:data-id="${usr.id}"
                                            th:data-firstName="${usr.firstName}"
                                            th:data-lastName="${usr.lastName}"
                                            th:data-age="${usr.age}"
                                            th:data-gender="${usr.gender}"
                                            th:data-email="${usr.email}"
                                            th:data-role="${usr.role}"
                                            th:data-status="${usr.status}">
                                        Delete

                                    </button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade overflow-auto" id="content2">
                    <form th:method="post" th:action="@{/admin}" th:object="${newUser}">
                        <div class="div-add-user">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="userNameA" placeholder="First Name"
                                       th:field="*{firstName}" required>
                                <label for="userNameA">First Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="userSurnameA" placeholder="Last Name"
                                       th:field="*{lastName}" required>
                                <label for="userSurnameA">Last Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="emailA" placeholder="Email"
                                       th:field="*{email}" required>
                                <label for="emailA">Email</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="PasswordA" placeholder="Password"
                                       th:field="*{pass}" required>
                                <label for="PasswordA">Password</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="userAgeA" placeholder="Age"
                                       th:field="*{age}" required>
                                <label for="userAgeA">Age</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="SexA" aria-label="Sex" th:field="*{gender}" required>
                                    <option value="" disabled selected hidden>Choose User's gender</option>
                                    <option th:value="F" value="F">Female</option>
                                    <option th:value="M" value="F">Male</option>

                                </select>
                                <label for="SexA">Sex</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="StatusA" aria-label="Status" th:field="*{status}" required>
                                    <option value="" disabled selected hidden>Choose User's Status</option>
                                    <option th:value="ACTIVE" value="BANNED">ACTIVE</option>
                                    <option th:value="BANNED" value="ACTIVE">BANNED</option>

                                </select>
                                    <label for="StatusA">Status</label>
                            </div>

                            <div class="form-floating mb-3">
                                    <select class=" form-select role-custom" id="userRoleA" multiple th:field="*{role}" required>
                                        <th:block th:each="role :${allRoles}">
                                            <option th:text="${role.name}" th:value="${role.id}" ></option>
                                        </th:block>
                                    </select>
                                    <label for="userRoleA" hidden="hidden">User roles</label>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-outline-primary">Add user</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>



            <form>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="userIdEdit" placeholder="userID" disabled>
                        <label for="userIdEdit">ID</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="userNameEdit" placeholder="userName" required>
                        <label for="userNameEdit">First Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="userSurnameEdit" placeholder="userSurname" required>
                        <label for="userSurnameEdit">Last Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="emailEdit" placeholder="name@mail.com" required>
                        <label for="emailEdit">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="PasswordEdit" placeholder="password" required>
                        <label for="PasswordEdit">Password</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="userAgeEdit" placeholder="userAge" required>
                        <label for="userAgeEdit">Age</label>
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" id="SexEdit" aria-label="Sex" required>
                            <option value="F">Female</option>
                            <option value="M">Male</option>
                        </select>
                        <label for="SexEdit">Sex</label>
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" id="StatusEdit" aria-label="Status" required>
                            <option value="ACTIVE">ACTIVE</option>
                            <option value="BANNED">BANNED</option>
                        </select>
                        <label for="StatusEdit">Status</label>
                    </div>

                    <div class="form-floating mb-3" >
                        <select class=" form-select" id="userRoleEdite" multiple required>
                            <th:block th:each="role :${allRoles}">
                                <option th:text="${role.name}" th:value="${role.name}" ></option>
                            </th:block>
                        </select>
                        <label for="userRoleEdite" hidden="hidden">User roles</label>
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-success" id="userEditButton">Edit user</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="userIdDelete" placeholder="userID" disabled >
                        <label for="userIdDelete">ID</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="userNameDelete" placeholder="userName" disabled >
                        <label for="userNameDelete">First Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="userSurnameDelete" placeholder="userSurname" disabled >
                        <label for="userSurnameDelete">Last Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="emailDelete" placeholder="name@mail.com" disabled >
                        <label for="emailDelete">Email</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="userAgeDelete" placeholder="userAge" disabled >
                        <label for="userAgeDelete">Age</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="SexDelete" placeholder="userAge" disabled >
                        <label for="SexDelete">Age</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="StatusDelete" placeholder="userAge" disabled >
                        <label for="StatusDelete">Age</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="userRoleDelete" placeholder="userAge" disabled >
                        <label for="userRoleDelete">Role</label>
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-danger" id="modalDeleteButton" data-bs-dismiss="modal">Delete user</button>
                </div>
            </form>

        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous">

</script>


<script>
    const myModal = document.getElementById('deleteModal');
    myModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;
        document.getElementById('userIdDelete').value = button.getAttribute('data-id');
        document.getElementById('userNameDelete').value = button.getAttribute('data-firstName');
        document.getElementById('userSurnameDelete').value = button.getAttribute('data-lastName');
        document.getElementById('userAgeDelete').value = button.getAttribute('data-age');
        document.getElementById('SexDelete').value = button.getAttribute('data-gender');
        document.getElementById('emailDelete').value = button.getAttribute('data-email');
        document.getElementById('StatusDelete').value = button.getAttribute('data-status');

        const roles = button.getAttribute('data-role').split(' ');
        document.getElementById('userRoleDelete').value = roles.map(role => {
            return role.replace('[ROLE_', '').replace('ROLE_', ' ').replace(']', '').replace(',', '').replace('[', '')
        });

        const modalButton = document.getElementById('modalDeleteButton');

        // Обработчик события клика по кнопке в модальном окне
        modalButton.addEventListener('click', function () {
            const userId = document.getElementById('userIdDelete').value; // Получаем идентификатор пользователя для удаления

            // Отправка POST-запроса на контроллер с использованием fetch
            fetch('/admin/delete/' + userId, {
                method: 'POST',
            })
                .then(response => {
                    if (response.ok) {
                        // Обработка успешного ответа от сервера
                        console.log('Пользователь успешно удален!');
                        location.reload(); // Обновить страницу
                    } else {
                        // Обработка ошибки при удалении пользователя
                        console.error('Ошибка при удалении пользователя!');
                        return response.text().then(text => { throw new Error(text) }); // Вывести текст ошибки, если есть
                    }
                })
                .catch(error => {
                    // Обработать ошибки сети или исключения, выброшенные на предыдущих этапах
                    console.error('Произошла ошибка при удалении пользователя:', error);
                });


        });



    });


    document.addEventListener('DOMContentLoaded', function () {
        const myNextModal = document.getElementById('editModal');
        myNextModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            document.getElementById('userIdEdit').value = button.getAttribute('data-id');
            document.getElementById('userNameEdit').value = button.getAttribute('data-firstName');
            document.getElementById('userSurnameEdit').value = button.getAttribute('data-lastName');
            document.getElementById('userAgeEdit').value = button.getAttribute('data-age');
            document.getElementById('emailEdit').value = button.getAttribute('data-email');

            const modalButton = document.getElementById('userEditButton');

            modalButton.addEventListener('click', function () {
                const userId = document.getElementById('userIdEdit').value;
                const userName = document.getElementById('userNameEdit').value;
                const userSurname = document.getElementById('userSurnameEdit').value;
                const userAge = document.getElementById('userAgeEdit').value;
                const userGender = document.getElementById('SexEdit').value;
                const userStatus = document.getElementById('StatusEdit').value;
                const userPassword = document.getElementById('PasswordEdit').value;
                const userEmail = document.getElementById('emailEdit').value;

                const selectElement = document.getElementById('userRoleEdite');
                if (selectElement.selectedOptions) {
                    const selectedValues = Array.from(selectElement.selectedOptions).map(option => option.value);


                    const user = {

                        firstName: userName,
                        lastName: userSurname,
                        gender: userGender,
                        age: userAge,
                        status: userStatus,
                        pass: userPassword,
                        email: userEmail,
                        role: selectedValues
                    };


                    // Fetch API usage to send the POST request
                    fetch('/admin/edit/' + userId, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(user) // stringify the user object before sending
                    })
                        .then(response => {
                            if (response.ok) {
                                console.log('Пользователь успешно обновлен!');
                                location.reload(); // Refresh page to reflect changes
                            } else {
                                console.error('Ошибка при обновлении пользователя!');
                                return response.text().then(text => {
                                    throw new Error(text)
                                });
                            }
                        })
                        .catch(error => {
                            console.error('Произошла ошибка при обновлении пользователя:', error);
                        });

                } else {
                    console.error('selectedOptions is undefined');
                }
            });
        });
    });
</script>


</body>
</html>