<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
<div class="index-div">
<p>Можно входить с пустой бд</p>
<p>На момент первого запуска сменить =validate на =create</p>
<p>Данные дефолтных пользователей:</p>
<p>{username:"user", password:"user"} with roles: USER</p>
<p>{username:"admin", password:"admin"} with roles: USER, ADMIN</p>
</div>
</body>
</html>