<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Panel</title>
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>

<body>
<div class="container-fluid m-0">
    <div class="row align-middle block-height">
        <div class="col d-flex align-items-center div-text">
            admin@mail.com with roles ADMIN, USER
        </div>
        <div class="col text-center d-flex align-items-center">
        </div>
        <div class="col d-flex align-items-center text-end div-text">
            <div class="ms-auto">Logout</div>
        </div>
    </div>
</div>

<div class="container-fluid m-0">
    <div class="row align-middle block-content-height">
        <div class="col-2 ">
            <div class="ul-roles-list">
                <ul class="list-unstyled">
                    <li>Admin</li>
                    <li>User</li>

                </ul>
            </div>

        </div>
        <div class="col-10 ">
            <div class="admin-panel-text">Admin Panel</div>
            <div class="users-ul black-div-text">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab1" data-bs-toggle="tab" href="#content1">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab2" data-bs-toggle="tab" href="#content2">New user</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content users-table ">
                <div class="tab-pane fade show active overflow-auto" id="content1">
                    <div class="admin-panel-text"> All users</div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="black-div-text">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Sex</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Status</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>

                            </tr>
                            </thead>
                            <tbody class="black-div-text">
                            <tr>
                                <th scope="row">1</th>
                                <td>Admin</td>
                                <td>Adminov</td>
                                <td>18</td>
                                <td>F</td>
                                <td>admin@mail.com</td>
                                <td>ADMIN USER</td>
                                <td>ACTIVE</td>
                                <td>
                                    <button type="button" class="btn btn-outline-success"
                                            data-bs-toggle="modal" data-bs-target="#editModal">Edit
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-danger"
                                            data-bs-toggle="modal" data-bs-target="#deleteModal">Delete
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>User</td>
                                <td>Userov</td>
                                <td>18</td>
                                <td>M</td>
                                <td>user@mail.com</td>
                                <td>USER</td>
                                <td>ACTIVE</td>
                                <td>
                                    <button type="button" class="btn btn-outline-success"
                                            data-bs-toggle="modal" data-bs-target="#editModal">Edit
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-danger"
                                            data-bs-toggle="modal" data-bs-target="#deleteModal">Delete
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Ban</td>
                                <td>Banned</td>
                                <td>16</td>
                                <td>M</td>
                                <td>ban@mail.com</td>
                                <td>USER</td>
                                <td>BANNED</td>
                                <td>
                                    <button type="button" class="btn btn-outline-success"
                                            data-bs-toggle="modal" data-bs-target="#editModal">Edit
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-danger"
                                            data-bs-toggle="modal" data-bs-target="#deleteModal">Delete
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade overflow-auto" id="content2">
                    <form>
                        <div class="div-add-user" >
                        <div class="form-floating mb-3">
                            <input type="userName" class="form-control" id="userNameA" placeholder="First Name">
                            <label for="userNameA">First Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="userSurname" class="form-control" id="userSurnameA" placeholder="Last Name">
                            <label for="userSurnameA">Last Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="emailA" placeholder="Email">
                            <label for="emailA">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="PasswordA" placeholder="Password">
                            <label for="PasswordA">Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="userAge" class="form-control" id="userAgeA" placeholder="Age">
                            <label for="userAgeA">Age</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="SexA" aria-label="Sex">
                                <option selected>Choose User's gender</option>
                                <option value="F">Female</option>
                                <option value="M">Male</option>
                            </select>
                            <label for="SexA">Sex</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="StatusA" aria-label="Status">
                                <option selected>Choose User's Status</option>
                                <option value="BANNED">ACTIVE</option>
                                <option value="ACTIVE">BANNED</option>
                            </select>
                            <label for="StatusA">Status</label>
                        </div>

                        <div class="form-floating mb-3">
                            <select class="form-select" multiple id="userRoleA" size="2">
                                <option value="ADMIN">ADMIN</option>
                                <option value="USER">USER</option>
                            </select>
                        </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-outline-primary">Add user</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</div>


<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="userID" class="form-control" id="userID" placeholder="userID" disabled>
                        <label for="userID">ID</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="userName" class="form-control" id="userName" placeholder="userName">
                        <label for="userName">First Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="userSurname" class="form-control" id="userSurname" placeholder="userSurname">
                        <label for="userSurname">Last Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" placeholder="name@mail.com">
                        <label for="email">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="Password" placeholder="password">
                        <label for="Password">Password</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="userAge" class="form-control" id="userAge" placeholder="userAge">
                        <label for="userAge">Age</label>
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" id="Sex" aria-label="Sex">
                            <option selected>Choose User's gender</option>
                            <option value="F">Female</option>
                            <option value="M">Male</option>
                        </select>
                        <label for="Sex">Sex</label>
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" id="Status" aria-label="Status">
                            <option selected>Choose User's Status</option>
                            <option value="BANNED">ACTIVE</option>
                            <option value="ACTIVE">BANNED</option>
                        </select>
                        <label for="Status">Status</label>
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" multiple id="userRole" size="2">
                            <option value="ADMIN">ADMIN</option>
                            <option value="USER">USER</option>
                        </select>
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-success">Edit user</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="userID" class="form-control" id="userIDd" placeholder="userID" disabled>
                        <label for="userIDd">ID</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="userName" class="form-control" id="userNameD" placeholder="userName" disabled>
                        <label for="userNameD">First Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="userSurname" class="form-control" id="userSurnameD" placeholder="userSurname"
                               disabled>
                        <label for="userSurnameD">Last Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="emailD" placeholder="name@mail.com" disabled>
                        <label for="emailD">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="PasswordD" placeholder="password" disabled>
                        <label for="PasswordD">Password</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="userAge" class="form-control" id="userAgeD" placeholder="userAge" disabled>
                        <label for="userAgeD">Age</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="userSex" class="form-control" id="SexD" placeholder="userSex" disabled>
                        <label for="SexD">Sex</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="userStatus" class="form-control" id="StatusD" placeholder="userStatus" disabled>
                        <label for="StatusD">Status</label>
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" multiple id="userRoled" size="2">
                            <option value="ADMIN">ADMIN</option>
                            <option value="USER">USER</option>
                        </select>
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-danger">Delete user</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>